<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283108047353-fr7cg97gjuktdc6saqf1tepjbt0k1e05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283108047353-fr7cg97gjuktdc6saqf1tepjbt0k1e05</string>
	<key>API_KEY</key>
	<string>AIzaSyB_SiHo6X-3sbh9zQHUsD6QQsTy2OSTe2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>283108047353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shabaka.bounties</string>
	<key>PROJECT_ID</key>
	<string>bounties-97967</string>
	<key>STORAGE_BUCKET</key>
	<string>bounties-97967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283108047353:ios:fecbf685246a6bceaa2528</string>
	<key>DATABASE_URL</key>
	<string>https://bounties-97967.firebaseio.com</string>
</dict>
</plist>